.music-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ffffffdd;
    border: 1px solid #ccc;
    padding: 0.6rem 1rem;
    border-radius: 8px;
    font-size: 0.9rem;
    cursor: pointer;
    z-index: 999;
  
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  
    &:hover {
      background-color: #f7f7f7;
    }
  }